# Dependencies
node_modules/

# Build outputs
.next/
out/
dist/
build/

# Cache
.cache/
*.tsbuildinfo

# Prisma
prisma/migrations/

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.idea/
.vscode/

# Misc
*.md
*.mdx
*.svg
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.webp
